@media all and (min-width: 480px) {
  .Login {
    padding: 60px 0;
  }

  .Login form {
    margin: 0 auto;
    max-width: 320px;
  }
  .panel-body {
    background:#003058;
    height: 100px;
      background-image: url(./images.png);
      background-size: 100px;
      background-position: left;
      background-repeat: no-repeat;
  }
    
    .form-control:focus {
      border-color: #003058 ;
      box-shadow: inset 0 1px 1px #003058, 0 0 8px #003058;
    }
    .btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
      background-color: #003058;
      
      text-decoration-color: #FFFFFF;
  }
}